<%= simple_form_for(@question) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :title ,:label => t('views.question.title') %>
    <%= f.input :tag_names ,:label => t('views.question.tag_names') %>
    <%= f.input :category ,:label => t('views.question.category') do f.collection_select :category , Category.all ,:id , :name  end %>
  </div>

  <div class="actions">
    <%= f.button :submit ,:value => t('submit')%>
  </div>
<% end %>
