<%= simple_form_for(@article) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :title ,:label => t('title')%>
    <%= f.input :body ,:label => t('body')%>
  </div>

  <div class="actions">
    <%= f.button :submit ,:value => t('submit') %>
  </div>
<% end %>
