<h1><%= t('views.article.list') %></h1>



<% @articles.each do |article| %>
    <div class="item">
      <h2><%= article.title %></h2>
      <div class="standard_actions">
        <%= link_to t('show'), article %>
        <%= link_to t('edit'), edit_article_path(article) %>
        <%= link_to t('destroy'), article, :confirm => 'Are you sure?', :method => :delete %>
      </div>
    </div>
<% end %>


<br />

<%= link_to t('views.article.new_article'), new_article_path %>
