<p id="notice"><%= notice %></p>

<p>
  <b><%= t('views.answer.body') %>:</b>
  <%= @answer.body %>
</p>


<%= link_to t('edit'), edit_answer_path(@answer) %> |
<%= link_to t('back'), answers_path %>
