<h1><%= t('views.link.list') %></h1>



<% @links.each do |link| %>
    <div class="item">
      <h2><%= link_to link.name , link.url%> </h2>
      <%= link.description %>
      <div class="standard_actions">
        <%= link_to t('show'), link %>
        <%= link_to t('edit'), edit_link_path(link) %>
        <%= link_to t('destroy'), link, :confirm => 'Are you sure?', :method => :delete %>
      </div>
    </div>

<% end %>

<br />

<%= link_to t('views.link.new_link'), new_link_path %>
