<p id="notice"><%= notice %></p>

<p>
  <b><%= t('views.link.title') %>:</b>
  <%= @link.name %>
</p>

<p>
  <b><%= t('views.link.url') %>:</b>
  <%= @link.url %>
</p>

<p>
  <b><%= t('views.link.description') %>:</b>
  <%= @link.description %>
</p>


<%= link_to t('edit'), edit_link_path(@link) %> |
<%= link_to t('back'), links_path %>
