<p id="notice"><%= notice %></p>

<p>
  <b><%= t('views.category.name') %>:</b>
  <%= @category.name %>
</p>


<%= link_to t('edit'), edit_category_path(@category) %> |
<%= link_to t('back'), categories_path %>
